<h3><%= @mentor.name %> Availability</h3>

<table>
  <thead>
    <tr>
      <th></th>
      <% days.each do |day| %>
        <th><%= day.capitalize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% initial_time = Time.new('00:00') %>
    <% 24.times do |hour| %>
      <% time = Time.new(2015, 12, 12, hour, 0) %>
      <% converted_time = time.in_time_zone(current_mentor.time_zone) %>
      <tr>
        <td><%= time.strftime("%H:%M") %></td>
        <% days.each do |day| %>
          <% if @availabilities[day] && @availabilities[day].include?(hour) %>
            <td class="available"></td>
          <% else %>
            <td class="unavailable"></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
