<table>
  <thead>
    <tr>
      <th></th>
      <% weekdays_column_headers.each do |abbreviation, full_name| %>
        <th title="<%= full_name.capitalize %>"><%= abbreviation.capitalize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% hour_range.each do |hour| %>
      <% time = Time.new(2015, 12, 12, hour, 0) %>
      <tr>
        <td><%= time.strftime("%H:%M") %></td>
        <% weekdays.each do |day| %>
          <% if availabilities[day] && availabilities[day].include?(hour) %>
            <td class="available"></td>
          <% else %>
            <td class="unavailable"></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
