<%= render "layouts/header" %>

<div class="container">
  <h3>Mentors</h3>

  <ul class="mentor-list">
    <% @mentors.each do |mentor| %>
      <li class="mentor-card">
        <a href="/"><img class="mentor-photo" src="/assets/default.png" src="Open Mentor Logo" /></a>
        <h2><a href=""><%= mentor.name %></a></h2>
        <p class="mentor-skills">JavaScript, Ruby on Rails</p>
        <a href="" class="mentor-profile-link">View Profile</a>
      </li>
    <% end %>
  </ul>
</div>
