@import "colors";

// Inbox
p {
  .to-mentor {
    display: inline-block;
    color: #222;
    margin: 2px 5px;
    max-width: 325px;
    max-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    cursor: move;
  }
}


// Layout

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after { clear: both; }
}

// Typography
body {
  background: $primary-blue;
  color: $text-white;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  font-weight: 300;
  line-height: 1.2em;
}
h2 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 1em 0;
}

h3 {
  font-size: 1em;
  font-weight: 500;
}

h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a {
  color: $subtext-white;
  text-decoration: none;
  &:hover {
    color: $text-white;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
}

em {
  line-height: 1.2em;
}

.wf-loading {
    visibility: hidden;
  }

.wf-active, .wf-inactive {
  visibility: visible;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Header
.header {
  .container { padding: 2em 0; }
  h1 {
    display: inline-block;
    float: left;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    padding: 0.3em 0;
    a {
      color: $text-white;
      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
  .logged-in {
    float: right;
    p {
      display: inline-block;
      margin: 0;
    }
    .mentor-name {
      color: $text-white;
      margin-right: 1em;
    }
  }
}

// Modules
a.button, .button, input[type=submit] {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: $text-white;
  display: inline-block;
  font-weight: 500;
  padding: 0.6em 2em;
  text-align: center;
  width: auto;
  &:hover {
    background: $text-white;
    color: $primary-blue;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  &.small {
    padding: 0.5em 1.5em 0.4em 1.5em;
  }
  &.x-small {
    padding: 0.4em 1.2em 0.3em 1.2em;
    font-size: 0.9em;
  }
  &.fill {
    background: $medium-blue;
    border: 2px solid $medium-blue;
    color: $text-white;
  }
}

.pagination {
  display: block;
  list-style: none;
  text-align: center;
  margin: 1em auto;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 0.25em;
    a {
      background: transparent;
      border: 2px solid rgba(255, 255, 255, 0.1);
      border-radius: 3px;
      font-weight: 700;
      padding: 0.3em 0.8em;
      &:hover {
        border: 2px solid rgba(255, 255, 255, 0.3);
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
      }
    }
    &.active a {
      color: $darkest-blue;
      background: $text-white;
    }
  }
}

// Alerts

.alert, .notice, .devise-alert {
  background: $soft-blue;
  color: $text-white;
  margin: 0;
  padding: 1em 2em;
  text-align: center;
}

// Forms

*:focus { outline: none; }

.form-container {
  margin: 3em auto;
  max-width: 420px;
  h2 {
    text-align: center;
  }
  @media (max-width: 750px) {
    margin: 1em auto 0.5em auto;
  }
  .actions {
    .button {
      width: 100%;
    }
  }
}

label {
  display: block;
  margin-bottom: 0.3em;
}

.field { margin-bottom: 1em; }
.actions { margin-bottom: 2em; }

.action-buttons {
  margin: 2em auto 0 auto;
  p {
    margin-left: 0.5em;
    display: inline-block;
    &:first-child {
      margin-left: 0;
    }
  }
}

.field_with_errors {
  display: inline;
}

input, textarea {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: $text-white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.6em 0.8em;
  width: 100%;
}

textarea {
  min-height: 150px;
}

::-webkit-input-placeholder { color: $subtext-white; }
:-moz-placeholder { color: $subtext-white; }
::-moz-placeholder { color: $subtext-white; }
:-ms-input-placeholder { color: $subtext-white; }

.inline {
  display: inline-block;
}

.center {
  text-align: center;
}

.wide-button {
  margin: 1em 0 2em 0;
  text-align: center;
}

.select {
  position: relative;
  display: block;
  select {
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: $text-white;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0.6rem 2.25em 0.6rem 0.8em;
    line-height: 1.5;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &:after {
    position: absolute;
    top: 50%;
    right: 1.8em;
    display: inline-block;
    content: "B";
    font-family: open-mentor;
    width: 0;
    height: 0;
    margin-top: -0.6rem;
    pointer-events: none;
  }
}

input[type=checkbox] {
  display: inline-block;
  margin-right: 0.4em;
  width: auto;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
  border: 2px solid rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.form-logo {
  display: block;
  margin: 0 auto 2em auto;
  width: 120px;
}

.form-links {
  text-align: center;
}

.pipe {
  color: rgba(255, 255, 255, 0.3);
  margin: 0 0.3em;
}

// Form Overrides

.log-in,
.sign-up,
.confirm,
.unlock {
  input[type=text], input[type=password], input[type=email] {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: $text-white;
  }
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  textarea:focus {
    border: 2px solid rgba(255, 255, 255, 0.6);
  }
}

.edit-profile,
.edit-mentor {
  margin: 0 auto 3em auto;
}

// Mentors

.mentors {
  .container { padding: 2em 0; }
}

.search-container {
  margin: 0 auto 4em auto;
  @media (max-width: 750px) {
    margin-bottom: 2em;
  }
}

.skill-search {
  text-align: center;
  input[type=text] {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.15);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: $text-white;
    max-width: 500px;
    padding: 1em 2em 1em 3.5em;
    &:focus { color: $text-white; }
    @media (max-width: 750px) {
      width: 100%;
    }
  }
  ::-webkit-input-placeholder { color: $text-white; }
  :-moz-placeholder { color: $text-white; }
  ::-moz-placeholder { color: $text-white; }
  :-ms-input-placeholder { color: $text-white; }
  .sort {
    display: inline-block;
    cursor: pointer;
    padding: 0 1em;
    &:hover {
      color: $subtext-white;
    }
    @media (max-width: 750px) {
      padding: 1em 1em 0 1em;
      width: 100%;
    }
  }
}

.search-wrapper {
  position: relative;
  .icon-search {
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 1.2em;
    top: 0.15em;
    font-size: 1.2em;
  }
}

.mentor-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mentor-image-container {
  border: 3px solid rgba(255, 255, 255, 0.2);
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 50%;
  margin: 0 auto;
  height: 95px;
  width: 95px;
  img {
    display: block;
    height: 95px;
    width: auto;
  }
}

.social-links {
  color: $subtext-white;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  line-height: 0.8em;
  z-index: 100;
  &:hover {
    color: $text-white;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
}

// Mentor Profile

.mentor-profile {
  .container {
    background: transparent;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    max-width: 840px;
  }
  h1 {
    color: $text-white;
    margin-bottom: 0.3em;
    text-align: center;
  }
  .mentor-image-container {
    height: 110px;
    width: 110px;
    img { height: 110px; }
  }
}

.mentor-photo {
  width: 95px;
}

.profile-menu {
  margin-top: 1em;
  text-align: center;
  p {
    display: inline-block;
    margin: 0;
    margin-left: 0.5em;
    &:first-child { margin-left: 0; }
  }
}

.profile-bio {
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 1em 0;
}

.photo-upload-container {
  float: left;
  margin-bottom: 1em;
  width: 100%;
  .mentor-image-container {
    margin: 0 auto;
    height: 150px;
    width: 150px;
    img {
      height: 150px;
    }
  }
  @media (max-width: 480px) {
    .mentor-photo {
      width: 100%;
    }
  }
}

.mentor-photo-upload {
  background: transparent;
  border: none;
  color: $text-white;
  display: block;
  line-height: 1em;
  margin: 0 auto;
  padding: 2.3em 0;
  width: 50%;
}

.select-skills {
  padding: 2em 0;
  text-align: center;
  .container { max-width: 800px; }
  .field { display: inline; }
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    & + label {
      background: transparent;
      border: 2px solid rgba(255, 255, 255, 0.3);
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      margin: 0.5em;
      border-radius: 50px;
      color: $text-white;
      display: inline-block;
      font-weight: 500;
      padding: 0.6em 2em 0.5em 2em;
      text-align: center;
      &:hover, &:focus, &:active {
        cursor: pointer;
        background-color: $text-white;
        color: $darkest-blue;
      }
    }
    &:checked + label {
      background-color: $text-white;
      color: $darkest-blue;
      &:hover, &:focus, &:active { background-color: $text-white; }
    }
  }
}

.availability-chart {
  width: 100%;
  border-collapse: separate;
  border-spacing: 8px;
  *border-collapse: expression('separate', cellSpacing = '8px');
  td {
    height: 26px;
    width: 12%;
  }
}

.edit-availability {
  table {
    border-collapse: separate;
    border-spacing: 8px;
    *border-collapse: expression('separate', cellSpacing = '8px');
    width: 100%;
  }
  td {
    height: 26px;
    width: 12%;
    position: relative;
  }
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    & + label {
      background: $soft-blue;
      color: $text-white;
      display: block;
      font-weight: 500;
      padding: 0.7em 2em;
      text-align: center;
      margin: 0 auto;
      width: 90%;
      &:hover, &:focus, &:active {
        cursor: pointer;
        background-color: $green;
        color: $darkest-blue;
      }
    }
    &:checked + label {
      background-color: $green;
      color: $darkest-blue;
      &:hover, &:focus, &:active { background-color: $green; }
    }
    &:checked + label,
    & + label:hover, & + label:focus, & + label:active {
      &:after {
        font-family: open-mentor;
        content: "s";
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        height: 26px;
        padding: 0.1em 0;
        display: inline-block;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.available {
  background-color: $green;
}

.unavailable {
  background-color: $soft-blue;
}

// Footer

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  .container {
    padding: 2em 0;
    position: relative;
  }
  h1 {
    display: block;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    a {
      color: $subtext-white;
      &:hover { color: rgba(255, 255, 255, 0.8); }
    }
  }
  p {
    margin: 0.5em 0 0 0;
    a {
      color: rgba(255, 255, 255, 0.8);
      &:hover { color: rgba(255, 255, 255, 1); }
    }
  }
}

.footer-logo {
  display: block;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 1.8em;
  width: 60px;
  &:hover {
    opacity: 1;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
}
