* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%; }

body {
  background: #0f243d;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f243d), to(#0e3a6c)) fixed;
  color: white;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em; }

h1 {
  font-weight: 500; }

h2 {
  color: #0f243d;
  font-size: 1.3em;
  font-weight: 700;
  margin: 1em 0; }

h3 {
  font-size: 1em;
  font-weight: 500; }

h4 {
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }

a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none; }
  a:hover {
    color: #fff;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; }

.header {
  padding: 2em 0; }
  .header h1 {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0; }

a.button, .button, input[type=submit] {
  background: #3269a8;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: white;
  font-weight: 500;
  padding: 0.5em 2em 0.6em 2em;
  text-align: center; }
  a.button:hover, .button:hover, input[type=submit]:hover {
    background: #3670b4;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; }

.alert, .notice {
  background: #3269a8;
  color: #fff;
  margin: 0;
  padding: 1em 2em;
  text-align: center; }

*:focus {
  outline: none; }

.form-container {
  margin: 4em auto 0.5em auto;
  max-width: 420px; }
  .form-container h2 {
    text-align: center; }

label {
  display: inline-block;
  margin-bottom: 0.3em; }

.field {
  margin-bottom: 1em; }

.actions {
  margin-bottom: 2em; }

.field_with_errors {
  display: inline; }

input {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 0.6em;
  width: 100%; }

input[type=checkbox] {
  margin-right: 0.4em;
  width: auto; }

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
  border: 1px solid rgba(255, 255, 255, 0.06);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease; }

.form-logo {
  display: block;
  margin: 0 auto 1.5em auto;
  width: 100px; }

.form-links {
  text-align: center; }

.pipe {
  color: rgba(255, 255, 255, 0.3);
  margin: 0 0.3em; }

.log-in input[type=text], .log-in input[type=password], .log-in input[type=email],
.sign-up input[type=text],
.sign-up input[type=password],
.sign-up input[type=email],
.confirm input[type=text],
.confirm input[type=password],
.confirm input[type=email] {
  background: rgba(255, 255, 255, 0.04);
  color: white; }

.mentor-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.mentor-card {
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: left;
  margin: 0 0 1em 2%;
  padding: 2em 1em 1.5em 1em;
  text-align: center;
  width: 18.4%; }
  .mentor-card:nth-of-type(5n+1) {
    margin-left: 0; }
  @media (max-width: 900px) {
    .mentor-card {
      width: 32%; }
      .mentor-card:nth-of-type(5n+1) {
        margin-left: 2%; }
      .mentor-card:nth-of-type(3n+1) {
        margin-left: 0; } }
  @media (max-width: 640px) {
    .mentor-card {
      width: 48%; }
      .mentor-card:nth-of-type(5n+1), .mentor-card:nth-of-type(3n+1) {
        margin-left: 2%; }
      .mentor-card:nth-of-type(2n+1) {
        margin-left: 0; } }
  @media (max-width: 480px) {
    .mentor-card {
      width: 100%;
      margin: 0 0 1em 0; }
      .mentor-card:nth-of-type(5n+1), .mentor-card:nth-of-type(3n+1) {
        margin-left: 0; } }
  .mentor-card .mentor-photo {
    width: 95px; }
  .mentor-card h2 {
    margin: 1em 0 0.2em 0; }
  .mentor-card .mentor-skills {
    color: #a3aaaf;
    margin: 0.5em 0 0 0; }
  .mentor-card .mentor-profile-link {
    color: #3269a8;
    display: inline-block;
    font-size: 0.7em;
    font-weight: 700;
    margin: 1.5em 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .mentor-card .mentor-profile-link:hover {
      color: #265081;
      -webkit-transition: all 0.1s ease;
      transition: all 0.1s ease; }
