*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

body {
  background: #0f243d;
  background: -webkit-gradient(linear, left top, left bottom, from(#0f243d), to(#0e3a6c)) fixed;
  color: white;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em; }

h1 {
  font-weight: 500; }

h2 {
  color: #0f243d;
  font-size: 1.3em;
  font-weight: 700;
  margin: 1em 0; }

h3 {
  font-size: 1em;
  font-weight: 500; }

h4 {
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }

a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none; }
  a:hover {
    color: #fff;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; }

.header .container {
  padding: 2em 0; }
.header h1 {
  display: inline-block;
  float: left;
  font-size: 1.2em;
  font-weight: 400;
  margin: 0; }
  .header h1 a {
    color: #fff; }
    .header h1 a:hover {
      color: rgba(255, 255, 255, 0.8); }
.header .logged-in {
  float: right; }
  .header .logged-in p {
    display: inline-block;
    margin: 0; }
  .header .logged-in .mentor-name {
    margin-right: 1em; }

a.button, .button, input[type=submit] {
  background: #3269a8;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: white;
  font-weight: 500;
  padding: 0.5em 2em 0.6em 2em;
  text-align: center; }
  a.button:hover, .button:hover, input[type=submit]:hover {
    background: #3670b4;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; }
  a.button.small, .button.small, input[type=submit].small {
    padding: 0.3em 1.5em 0.4em 1.5em; }

.alert, .notice, .devise-alert {
  background: #3269a8;
  color: #fff;
  margin: 0;
  padding: 1em 2em;
  text-align: center; }

*:focus {
  outline: none; }

.form-container {
  margin: 4em auto 0.5em auto;
  max-width: 420px; }
  .form-container h2 {
    text-align: center; }

label {
  display: inline-block;
  margin-bottom: 0.3em; }

.field {
  margin-bottom: 1em; }

.actions {
  margin-bottom: 2em; }

.field_with_errors {
  display: inline; }

input {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 0.6em;
  width: 100%; }

input[type=checkbox] {
  margin-right: 0.4em;
  width: auto; }

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
  border: 1px solid rgba(255, 255, 255, 0.06);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease; }

.form-logo {
  display: block;
  margin: 0 auto 1.5em auto;
  width: 100px; }

.form-links {
  text-align: center; }

.pipe {
  color: rgba(255, 255, 255, 0.3);
  margin: 0 0.3em; }

.log-in input[type=text], .log-in input[type=password], .log-in input[type=email],
.sign-up input[type=text],
.sign-up input[type=password],
.sign-up input[type=email],
.confirm input[type=text],
.confirm input[type=password],
.confirm input[type=email] {
  background: rgba(255, 255, 255, 0.04);
  color: white; }

.mentor-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.mentor-card {
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: left;
  margin: 0 0 2em 3%;
  padding: 2em 1em 1.5em 1em;
  text-align: center;
  width: 22.75%; }
  .mentor-card:nth-of-type(4n+1) {
    margin-left: 0; }
  @media (max-width: 1000px) {
    .mentor-card {
      margin: 0 0 1.5em 3%;
      width: 31.333%; }
      .mentor-card:nth-of-type(4n+1) {
        margin-left: 3%; }
      .mentor-card:nth-of-type(3n+1) {
        margin-left: 0; } }
  @media (max-width: 750px) {
    .mentor-card {
      margin: 0 0 1em 3%;
      width: 48.5%; }
      .mentor-card:nth-of-type(4n+1), .mentor-card:nth-of-type(3n+1) {
        margin-left: 3%; }
      .mentor-card:nth-of-type(2n+1) {
        margin-left: 0; } }
  @media (max-width: 480px) {
    .mentor-card {
      width: 100%;
      margin: 0 0 1em 0; }
      .mentor-card:nth-of-type(4n+1), .mentor-card:nth-of-type(3n+1) {
        margin-left: 0; } }
  .mentor-card .mentor-photo {
    width: 95px; }
  .mentor-card h2 {
    margin: 1em 0 0.2em 0; }
    .mentor-card h2 a {
      color: #0f243d; }
  .mentor-card .mentor-skills {
    color: #a3aaaf;
    margin: 0.5em 0 0 0; }
  .mentor-card .mentor-profile-link {
    color: #3269a8;
    display: inline-block;
    font-size: 0.7em;
    font-weight: 700;
    margin: 1.5em 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px; }

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.08); }
  .footer .container {
    padding: 2em 0;
    position: relative; }
  .footer h1 {
    display: block;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0; }
    .footer h1 a {
      color: rgba(255, 255, 255, 0.5); }
      .footer h1 a:hover {
        color: rgba(255, 255, 255, 0.8); }
  .footer p {
    margin: 0.5em 0 0 0; }
    .footer p a {
      color: rgba(255, 255, 255, 0.8); }
      .footer p a:hover {
        color: white; }

.footer-logo {
  display: block;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 1.8em;
  width: 60px; }
  .footer-logo:hover {
    opacity: 1;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; }
