// Color
$darkest-blue: #10253E;
$medium-blue: #0F3E76;
$button-blue: #3269a8;
$text-white: #ffffff;
$text-dark-blue: #122B48;
$subtext-white: rgba(255, 255, 255, 0.5);
$subtext-gray: #a3aaaf;

// Layout

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after { clear: both; }
}

// Typography
body {
  background: $darkest-blue;
  background-image: url("/assets/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top, left top;
  color: $text-white;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em;
  height: 100%;
}

h1 {
  font-size: 2.2em;
  font-weight: 300;
  line-height: 1.2em;
}
h2 {
  color: $darkest-blue;
  font-size: 1.3em;
  font-weight: 700;
  margin: 1em 0;
}

h3 {
  font-size: 1em;
  font-weight: 500;
}

h4 {
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a {
  color: $subtext-white;
  text-decoration: none;
  &:hover {
    color: #fff;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
}

// Header
.header {
  .container { padding: 2em 0; }
  h1 {
    display: inline-block;
    float: left;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    a {
      color: #fff;
      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
  .logged-in {
    float: right;
    p {
      display: inline-block;
      margin: 0;
    }
    .mentor-name {
      margin-right: 1em;
    }
  }
}

// Modules
a.button, .button, input[type=submit] {
  background: $button-blue;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: $text-white;
  font-weight: 500;
  padding: 0.5em 2em 0.6em 2em;
  text-align: center;
  &:hover {
    background: lighten($button-blue, 3%);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  &.small {
    padding: 0.3em 1.5em 0.4em 1.5em;
  }
}

// Alerts

.alert, .notice, .devise-alert {
  background: $button-blue;
  color: #fff;
  margin: 0;
  padding: 1em 2em;
  text-align: center;
}

// Forms

*:focus { outline: none; }

.form-container {
  margin: 4em auto 0.5em auto;
  max-width: 420px;
  h2 {
    text-align: center;
  }
}

label {
  display: inline-block;
  margin-bottom: 0.3em;
}

.field { margin-bottom: 1em; }
.actions { margin-bottom: 2em; }

.field_with_errors {
  display: inline;
}

input {
  color: $darkest-blue;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 0.6em;
  width: 100%;
}

input[type=checkbox] {
  margin-right: 0.4em;
  width: auto;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
  border: 1px solid rgba(255, 255, 255, 0.06);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.form-logo {
  display: block;
  margin: 0 auto 1.5em auto;
  width: 100px;
}

.form-links {
  text-align: center;
}

.pipe {
  color: rgba(255, 255, 255, 0.3);
  margin: 0 0.3em;
}

// Form Overrides
.log-in,
.sign-up,
.confirm {
  input[type=text], input[type=password], input[type=email] {
    background: rgba(255, 255, 255, 0.04);
    color: $text-white;
  }
}

// Mentors

.mentor-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mentor-card {
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: left;
  margin: 0 0 2em 3%;
  padding: 2em 1em 1.5em 1em;
  text-align: center;
  width: 22.75%;
  &:nth-of-type(4n+1) {
    margin-left: 0;
  }
  @media (max-width: 1000px) {
    margin: 0 0 1.5em 3%;
    width: 31.333%;
    &:nth-of-type(4n+1) {
      margin-left: 3%;
    }
    &:nth-of-type(3n+1) {
      margin-left: 0;
    }
  }
  @media (max-width: 750px) {
    margin: 0 0 1em 3%;
    width: 48.5%;
    &:nth-of-type(4n+1),
    &:nth-of-type(3n+1) {
      margin-left: 3%;
    }
    &:nth-of-type(2n+1) {
      margin-left: 0;
    }
  }
  @media (max-width: 480px) {
    width: 100%;
    margin: 0 0 1em 0;
    &:nth-of-type(4n+1),
    &:nth-of-type(3n+1) {
      margin-left: 0;
    }
  }

  .mentor-photo { width: 95px; }
  h2 {
    margin: 1em 0 0.2em 0;
    a {
      color: $darkest-blue;
    }
  }
  .mentor-skills {
    color: $subtext-gray;
    margin: 0.5em 0 0 0;
  }
  .mentor-profile-link {
    color: $button-blue;
    display: inline-block;
    font-size: 0.7em;
    font-weight: 700;
    margin: 1.5em 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

// Footer

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  .container {
    padding: 2em 0;
    position: relative;
  }
  h1 {
    display: block;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    a {
      color: $subtext-white;
      &:hover { color: rgba(255, 255, 255, 0.8); }
    }
  }
  p {
    margin: 0.5em 0 0 0;
    a {
      color: rgba(255, 255, 255, 0.8);
      &:hover { color: rgba(255, 255, 255, 1); }
    }
  }
}

.footer-logo {
  display: block;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 1.8em;
  width: 60px;
  &:hover {
    opacity: 1;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
}
