*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

body {
  background: #10253e;
  color: white;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4em;
  height: 100%; }

h1 {
  font-size: 2.2em;
  font-weight: 300;
  line-height: 1.2em; }

h2 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 1em 0; }

h3 {
  font-size: 1em;
  font-weight: 500; }

h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; }

a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none; }
  a:hover {
    color: #fff;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; }

em {
  line-height: 1.2em; }

.header .container {
  padding: 2em 0; }
.header h1 {
  display: inline-block;
  float: left;
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
  padding: 0.3em 0; }
  .header h1 a {
    color: #fff; }
    .header h1 a:hover {
      color: rgba(255, 255, 255, 0.8); }
.header .logged-in {
  float: right; }
  .header .logged-in p {
    display: inline-block;
    margin: 0; }
  .header .logged-in .mentor-name {
    color: #fff;
    margin-right: 1em; }

a.button, .button, input[type=submit] {
  background: #3269a8;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: white;
  display: inline-block;
  font-weight: 500;
  padding: 0.5em 2em 0.6em 2em;
  text-align: center; }
  a.button:hover, .button:hover, input[type=submit]:hover {
    background: #3670b4;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; }
  a.button.small, .button.small, input[type=submit].small {
    padding: 0.5em 1.5em 0.4em 1.5em; }
  a.button.x-small, .button.x-small, input[type=submit].x-small {
    padding: 0.4em 1.2em 0.3em 1.2em;
    font-size: 0.9em; }
  a.button.secondary, .button.secondary, input[type=submit].secondary {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3); }
    a.button.secondary:hover, .button.secondary:hover, input[type=submit].secondary:hover {
      border: 2px solid rgba(255, 255, 255, 0.4); }

.alert, .notice, .devise-alert {
  background: #3269a8;
  color: #fff;
  margin: 0;
  padding: 1em 2em;
  text-align: center; }

*:focus {
  outline: none; }

.form-container {
  margin: 4em auto 3em auto;
  max-width: 420px; }
  .form-container h2 {
    text-align: center; }
  @media (max-width: 750px) {
    .form-container {
      margin: 1em auto 0.5em auto; } }

label {
  display: block;
  margin-bottom: 0.3em; }

.field {
  margin-bottom: 1em; }

.actions {
  margin-bottom: 2em; }

.field_with_errors {
  display: inline; }

input {
  color: #10253e;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 0.6em;
  width: 100%; }

.inline {
  display: inline-block; }

input[type=checkbox] {
  display: inline-block;
  margin-right: 0.4em;
  width: auto; }

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
  color: #a3aaaf;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease; }

.form-logo {
  display: block;
  margin: 0 auto 1.5em auto;
  width: 110px; }

.form-links {
  text-align: center; }

.pipe {
  color: rgba(255, 255, 255, 0.3);
  margin: 0 0.3em; }

.log-in input[type=text], .log-in input[type=password], .log-in input[type=email],
.sign-up input[type=text],
.sign-up input[type=password],
.sign-up input[type=email],
.confirm input[type=text],
.confirm input[type=password],
.confirm input[type=email] {
  background: rgba(255, 255, 255, 0.04);
  color: white; }
.log-in input[type=text]:focus,
.log-in input[type=password]:focus,
.log-in input[type=email]:focus,
.log-in textarea:focus,
.sign-up input[type=text]:focus,
.sign-up input[type=password]:focus,
.sign-up input[type=email]:focus,
.sign-up textarea:focus,
.confirm input[type=text]:focus,
.confirm input[type=password]:focus,
.confirm input[type=email]:focus,
.confirm textarea:focus {
  border: 1px solid rgba(255, 255, 255, 0.06); }

.edit-profile,
.edit-mentor {
  margin: 2em auto 3em auto; }

.mentors .container {
  padding: 2em 0; }

.mentor-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.mentor-image-container {
  border: 3px solid rgba(255, 255, 255, 0.2);
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  height: 95px;
  width: 95px; }
  .mentor-image-container img {
    display: block;
    height: 95px;
    width: auto; }

.mentor-card {
  background: #0A1C34;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: left;
  margin: 0 0 2em 3%;
  padding: 2.5em 1em 1.5em 1em;
  text-align: center;
  width: 22.75%; }
  .mentor-card:nth-of-type(4n+1) {
    margin-left: 0; }
  @media (max-width: 1000px) {
    .mentor-card {
      margin: 0 0 1.5em 3%;
      width: 31.333%; }
      .mentor-card:nth-of-type(4n+1) {
        margin-left: 3%; }
      .mentor-card:nth-of-type(3n+1) {
        margin-left: 0; } }
  @media (max-width: 750px) {
    .mentor-card {
      margin: 0 0 1em 3%;
      width: 48.5%; }
      .mentor-card:nth-of-type(4n+1), .mentor-card:nth-of-type(3n+1) {
        margin-left: 3%; }
      .mentor-card:nth-of-type(2n+1) {
        margin-left: 0; } }
  @media (max-width: 480px) {
    .mentor-card {
      width: 100%;
      margin: 0 0 1em 0; }
      .mentor-card:nth-of-type(4n+1), .mentor-card:nth-of-type(3n+1) {
        margin-left: 0; } }
  .mentor-card h2 {
    font-weight: 500;
    color: #fff;
    margin: 1.5em 0 0.2em 0; }
  .mentor-card .mentor-skills {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9em;
    margin: 0.5em 0 0 0; }
  .mentor-card .button {
    margin-top: 2.5em; }

.mentor-profile {
  margin-bottom: 3em; }
  .mentor-profile .container {
    background: transparent;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    max-width: 840px; }
    .mentor-profile .container.blue {
      background: #0f3e76; }
  .mentor-profile h1 {
    color: #fff;
    margin-bottom: 0.3em;
    text-align: center; }
  .mentor-profile .mentor-image-container {
    height: 150px;
    width: 150px; }
    .mentor-profile .mentor-image-container img {
      height: 150px; }

.mentor-photo {
  width: 95px; }

.profile-menu {
  text-align: center; }
  .profile-menu p {
    display: inline-block;
    margin-left: 0.5em; }
    .profile-menu p:first-child {
      margin-left: 0; }

.profile-bio {
  font-size: 1.2em;
  line-height: 1.5em; }

.photo-upload-container {
  float: left;
  margin-bottom: 1em;
  width: 100%; }
  .photo-upload-container .mentor-image-container {
    margin: 0 auto;
    height: 150px;
    width: 150px; }
    .photo-upload-container .mentor-image-container img {
      height: 150px; }
  @media (max-width: 480px) {
    .photo-upload-container .mentor-photo {
      width: 100%; } }

.mentor-photo-upload {
  background: transparent;
  border: none;
  color: #fff;
  display: block;
  line-height: 1em;
  margin: 0 auto;
  padding: 2.3em 0;
  width: 50%; }

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.08); }
  .footer .container {
    padding: 2em 0;
    position: relative; }
  .footer h1 {
    display: block;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0; }
    .footer h1 a {
      color: rgba(255, 255, 255, 0.5); }
      .footer h1 a:hover {
        color: rgba(255, 255, 255, 0.8); }
  .footer p {
    margin: 0.5em 0 0 0; }
    .footer p a {
      color: rgba(255, 255, 255, 0.8); }
      .footer p a:hover {
        color: white; }

.footer-logo {
  display: block;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 1.8em;
  width: 60px; }
  .footer-logo:hover {
    opacity: 1;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; }
