.card {
  float: left;
  margin: 0 0 2em 3%;
  padding: 2.5em 1em 1.5em 1em;
  position: relative;
  text-align: center;
  width: 22.75%;
  min-height: 320px; }
  .card:nth-of-type(4n+1) {
    margin-left: 0; }
  @media (max-width: 1000px) {
    .card {
      margin: 0 0 1.5em 3%;
      width: 31.333%; }
      .card:nth-of-type(4n+1) {
        margin-left: 3%; }
      .card:nth-of-type(3n+1) {
        margin-left: 0; } }
  @media (max-width: 750px) {
    .card {
      margin: 0 0 1em 3%;
      width: 48.5%; }
      .card:nth-of-type(4n+1), .card:nth-of-type(3n+1) {
        margin-left: 3%; }
      .card:nth-of-type(2n+1) {
        margin-left: 0; } }
  @media (max-width: 480px) {
    .card {
      width: 100%;
      margin: 0 0 1em 0; }
      .card:nth-of-type(4n+1), .card:nth-of-type(3n+1) {
        margin-left: 0; } }
  .card h2 {
    font-weight: 500;
    color: #fff;
    margin: 1.5em 0 0.2em 0; }
  .card .mentor-name {
    margin-left: auto;
    margin-right: auto;
    width: 80%; }
  .card .mentor-skills {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9em;
    margin: 0.5em auto 0 auto;
    width: 80%; }
  .card .button {
    margin-top: 2.5em; }

.card__front {
  background: #3269a8; }

.card__back {
  background: #1c497f; }
  .card__back a {
    color: rgba(255, 255, 255, 0.2);
    cursor: default;
    display: block;
    float: left;
    font-size: 3em;
    line-height: 0.6em;
    padding: 0.3em 0em;
    margin: 0.1em 0.28em 0.3em 0.28em;
    width: 36%; }
    .card__back a.present {
      color: #fff;
      cursor: pointer; }
  .card__back .social-link-icons {
    margin: 0 auto;
    overflow: hidden;
    padding: 2em 0;
    width: 90%; }

.card__front,
.card__back {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 2.5em 1em 1.5em 1em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%; }

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

.card__back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0); }
