@charset "UTF-8";

@font-face {
  font-family: "open-mentor";
  src:url("/assets/open-mentor.eot");
  src:url("/assets/open-mentor.eot?#iefix") format("embedded-opentype"),
    url("/assets/open-mentor.woff") format("woff"),
    url("/assets/open-mentor.ttf") format("truetype"),
    url("/assets/open-mentor.svg#open-mentor") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "open-mentor" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "open-mentor" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dot-3:before {
  content: "\61";
}
.icon-dribbble-circled:before {
  content: "\62";
}
.icon-github-circled:before {
  content: "\63";
}
.icon-linkedin-circled:before {
  content: "\64";
}
.icon-skype-circled:before {
  content: "\65";
}
.icon-twitter-circled:before {
  content: "\66";
}
.icon-thumbs-up:before {
  content: "\67";
}
.icon-thumbs-down:before {
  content: "\68";
}
.icon-heart:before {
  content: "\69";
}
.icon-heart-empty:before {
  content: "\6a";
}
.icon-facebook-circled:before {
  content: "\6b";
}
.icon-down-circled:before {
  content: "\6c";
}
.icon-chat:before {
  content: "\6d";
}
.icon-cog:before {
  content: "\6e";
}
.icon-comment:before {
  content: "\6f";
}
.icon-camera:before {
  content: "\70";
}
.icon-calendar:before {
  content: "\71";
}
.icon-attach:before {
  content: "\72";
}
.icon-check:before {
  content: "\73";
}
.icon-search:before {
  content: "\74";
}
.icon-cancel-circled:before {
  content: "\75";
}
.icon-cancel-squared:before {
  content: "\76";
}
.icon-cancel:before {
  content: "\77";
}
.icon-star:before {
  content: "\78";
}
.icon-star-empty:before {
  content: "\79";
}
.icon-user:before {
  content: "\7a";
}
.icon-user-add:before {
  content: "\41";
}
