<div class="header">
  <div class="container">
    <h1><a href="/">Open Mentor</a></h1>
    <div class="logged-in">
      <p class="mentor-name"><%= current_mentor.name %></p>
      <% if mentor_signed_in? %>
        <p><%= link_to('Logout', destroy_mentor_session_path, :method => :delete, :class => "button") %></p>
      <% end %>
    </div>
  </div>
</div>
