<div class="header">
  <div class="container">
    <h1><a href="/">Open Mentor</a></h1>
    <div class="logged-in">
      <p><%= link_to(current_mentor.name, mentor_show_path(current_mentor), class: "mentor-name") %></p>
      <% if mentor_signed_in? %>
        <p><%= link_to('Logout', destroy_mentor_session_path, :method => :delete, :class => "button x-small") %></p>
        <p><%= link_to('Change Password', edit_mentor_registration_path, :class => "button x-small") %></p>
        <p><%= link_to('Settings', mentor_edit_path, :class => "button x-small") %></p>
      <% end %>
    </div>
  </div>
</div>
